-DVCCONFIG=vc.config
-cpu=68020
-lmieee
-stack-check
-cpp-comments
-c99
-ld=vlink -bamigahunk -t -s -x -Bstatic -Cvbcc  vlibos3:startup.o %s %s -Lvlibos3: -lvc -o %s
-l2=vlink -bamigahunk -t -s -x -Bstatic -Cvbcc  %s %s -Lvlibos3: -o %s
-ldv=vlink -bamigahunk -t -s -x -Bstatic -Cvbcc  vlibos3:startup.o %s %s -Lvlibos3: -lvc -o %s
-l2v=vlink -bamigahunk -t -s -x -Bstatic -Cvbcc  %s %s -Lvlibos3: -o %s
-ldnodb=-s -Rshort
-inline-size=8
-O3
-schedule
-speed
-unroll-all
-unroll-size=8
-as=PhxAss noexe quiet %s to %s
-asv=PhxAss noexe %s to %s
-cc=vbccm68k -quiet %s -o= %s %s -O=%ld -Ivincludem68k:
-ccv=vbccm68k %s -o= %s %s -O=%ld -Ivincludem68k:
-rm=delete quiet %s
-rmv=delete %s
-ul=-l%s
-cf=-F%s
-ml=500
